*{
  margin: 0px;
  font-family: Arial;
  text-align: center;
  color: #fff;
  background-color: #191919;
}

body{
  background-color: #191919;
  font-size: 25px;
  line-height: 1.6;
  font-weight: bold;
}

p{
  margin-bottom: 10px;
  font-size: 20px;
}

.foto {
  max-width: 350px;
  border-radius: 500px;
  border: 5px solid #fff;
  border-radius: 10px;
}

main{
  width: 50%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.logo-midia{
  width: 50px;
  height: 50px;
}

.section-midias{
  display: flex;
  gap: 25px;
}